/* LINES/BUS boxes & LINES*/
.section-line-boxes{
    display: flex;
    gap: 5px;
    flex-direction: column;
    padding: 10px 0;
}

.line-box{
    background-color: var(--white);
    padding: 6px;
    border-radius: 5px;
}

.line-box-header{
    display: flex;
    gap: 6px;
    align-items: center;
}

.line-name{
    width: 50px;
    height: 28px;
    color: var(--white);
    font-size: var(--t-16px);
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

#disruptions .line-name{
    background-color: #D81414;
}

.line-description-box{
    display: flex;
    flex-direction: column;
}

.line-description-box .line-stop{
    font-size: var(--t-14px);
    font-weight: 500;
    text-decoration: none;
    color: var(--black);
}

.line-description-box .line-disruptions{
    font-size: var(--t-12px);
    font-weight: 200;
}

.section-line-boxes .down-arrow{
    cursor: pointer;
    margin-left: auto;
    margin-right: 5px;
    transition: all .3s ease-in-out;
}
.section-line-boxes .down-arrow:hover{
    transform: scale(1.1);
}

.section-line-boxes .down-arrow.open{
    transform: rotate(180deg);
}

.section-line-boxes .content{
    display: none;
}

.section-line-boxes .content.open{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px 0;
}
.section-line-boxes .content-text{
    font-size: var(--t-14px);
}
