/*--- FONT ---*/
@font-face {
    font-family: 'K2D';
    src: url(fonts/K2D-Medium.ttf);
}

@font-face {
    font-family: 'SF-Pro';
    src: url(fonts/SF-Pro.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'SF-Pro', sans-serif;
}

body {
    font-size: 12px;
    font-weight: 200;
    background-color: var(--grey);
}

h1, h2, h3, h4, h5, h6, span, p, a, input, button, label, select, option, textarea{
    color: var(--black);
}

/*--- HEADER ---*/
header{
    width: 100%;
    height: 80px;
    background-color: var(--green);
    display: flex;
    justify-content: center;

}
#header-content{
    max-width: 1200px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#title-section{
    display: flex;
    gap: 4px;
    height: max-content;
}
#header-content #website-title{
    font-size: var(--t-24px);
    font-family: 'K2D', sans-serif;
    font-weight: 300;
}
#website-logo{
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

#search-section{
    display: flex;
    align-items: center;
}

.search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
}
.input-search{
    height: 30px;
    width: 50px;
    border-style: none;
    padding: 10px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    padding-right: 40px;
    font-size: var(--t-14px);
    background-color: transparent;
}
.input-search::placeholder{
    color: var(--black);
    font-weight: 100;
}
.btn-search{
    width: 30px;
    height: 30px;
    border-style: none;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    position: absolute;
    right: 0px;
    background-color: var(--green);
    pointer-events: painted;
    transition: all .1s ease-in-out;
}
.btn-search:hover{
    transform: scale(1.1);
}
.btn-search img{
    width: 20px;
    height: 20px;
}
.input-search {
    height: 30px;
    width: 50px;
    border-style: none;
    padding: 10px;
    outline: none;
    border-radius: 25px;
    font-size: var(--t-14px);
    background-color: transparent;
    transition: all .5s ease-in-out;
    padding-right: 40px;
}

.input-search.open {
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid var(--black);
}

/* MOBILE */
@media (max-width: 768px){
    .input-search.open{
        width: 200px;
    }
}

/* SECTION TITLE */
.section-title-box{
    display: flex;
    flex-direction: column;
    gap: -2px;
}
.section-title{
    font-size: var(--t-20px);
    font-weight: 500;
}
.section-subtitle{
    font-size: var(--t-14px);
    font-weight: 300;
}

/* MAIN / SECTION */
main{
    padding: 24px 25px;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

/* LINES/BUS boxes & LINES*/
.section-line-boxes{
    display: flex;
    gap: 5px;
    flex-direction: column;
    padding: 10px 0;
}

.line-box{
    background-color: var(--white);
    padding: 6px;
    border-radius: 5px;
}

.line-box-header{
    display: flex;
    gap: 6px;
    align-items: center;
}

.line-name{
    width: 50px;
    height: 28px;
    color: var(--white);
    font-size: var(--t-16px);
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

#disruptions .line-name{
    background-color: #D81414;
}
#favorites .line-name{
    background-color: var(--blue);
}

.line-description-box{
    display: flex;
    flex-direction: column;
}

.line-description-box .line-stop{
    font-size: var(--t-14px);
    font-weight: 500;
    text-decoration: none;
    color: var(--black);
}

a.line-stop:hover{
    text-decoration: underline;
}

.line-description-box .line-disruptions{
    font-size: var(--t-12px);
    font-weight: 200;
}

.section-line-boxes .down-arrow{
    cursor: pointer;
    /* Place end */
    margin-left: auto;
    margin-right: 5px;
    transition: all .3s ease-in-out;
}
.section-line-boxes .down-arrow:hover{
    transform: scale(1.1);
}

.section-line-boxes .down-arrow.open{
    transform: rotate(180deg);
}

.section-line-boxes .content{
    display: none;
}

.section-line-boxes .content.open{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px 0;
}
.section-line-boxes .content-text{
    font-size: var(--t-14px);
}